Jorge Caballeros 20009
Alejandra Guzm√°n 20262


Laboratorio 2: Series de tiempo

In [2]:
#De xls a csv
import pandas as pd
  
read_file = pd.read_excel ("data.xlsx")

read_file.to_csv ("data.csv", 
                  index = None,
                  header=True)
    
df = pd.DataFrame(pd.read_csv("data.csv"))
  
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unidad: Barril (42 galones),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2023-03-01 00:00:00,30789.61,128594.46,149590.82,NaN,66515.19,1317519.91,4985.21,711978.35,0,...,330.59,249231,1474,12599.78,0,0,0,0,0,4115430.479999999
273,2023-04-01 00:00:00,25001.96,119761.46,134010.55,86.43,123298.87,1417182.73,21503.98,647666.3,1840.46,...,40,0,1811.06,19941.64,0,0,0,0,0,4008478.5400000005
274,2023-05-01 00:00:00,30440.94,171826.96,234819.33,6,94150.63,1428099.62,15047.82,713348.99,0,...,388.51,525292.8,621,16858.33,0,0,0,0,0,4850360.100000001
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,Fuente: informes mensuales de titulares de lic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#De xls a csv
import pandas as pd
  

read_file = pd.read_excel ("precios.xlsx")
read_file.to_csv ("precios.csv", 
                  index = None,
                  header=True)
    
df = pd.DataFrame(pd.read_csv("precios.csv"))

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PRECIOS PROMEDIO A CONSUMIDOR FINAL EN CIUDAD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,Fuente precios nacionales: Secci√≥n Comercializ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Fuente tipo de cambio: Banco de Guatemala.,NaN,NaN,NaN,NaN,NaN,NaN,NaN